/* Developer toolbar */

#developer-toolbar {
  border-top: 1px solid hsla(211,68%,6%,.65) !important;
}


/* Responsive Mode */

.browserContainer[responsivemode] {
  background: #222 url("chrome://browser/skin/devtools/responsive-background.png");
  padding: 0 20px 20px 20px;
}

.browserStack[responsivemode] {
  box-shadow: 0 0 7px black;
}

.devtools-responsiveui-toolbar {
  background: transparent;
  margin: 10px 0;
  padding: 0;
  box-shadow: none;
  border-bottom-width: 0;
}

.devtools-responsiveui-toolbar > menulist,
.devtools-responsiveui-toolbar > toolbarbutton {
  min-width: 22px;
  border-radius: 0;
}

.devtools-responsiveui-toolbar:-moz-locale-dir(ltr) > *:first-child,
.devtools-responsiveui-toolbar:-moz-locale-dir(rtl) > *:last-child {
  margin-left: 0;
}

.devtools-responsiveui-resizebar {
  width: 7px;
  height: 24px;
  cursor: ew-resize;
  transform: translate(12px, -12px);
  background-image: url("chrome://browser/skin/devtools/responsive-vertical-resizer.png");
}

.devtools-responsiveui-resizehandle {
  width: 16px;
  height: 16px;
  cursor: se-resize;
  transform: translate(12px, 12px);
  background-image: url("chrome://browser/skin/devtools/responsive-se-resizer.png");
}

/* Highlighter */

.highlighter-outline {
  box-shadow: 0 0 0 1px black;
  outline: 1px dashed white;
  outline-offset: -1px;
}

.highlighter-outline[locked]  {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  outline-color: rgba(255,255,255,0.7);
}

/* Highlighter - Node Infobar */

.highlighter-nodeinfobar {
  color: hsl(200, 100%, 65%);
  border: 1px solid hsla(210, 19%, 63%, .5);
  border-radius: 3px;
  background: linear-gradient(hsl(209, 18%, 30%), hsl(210, 24%, 16%)) no-repeat padding-box;
}

/* Highlighter - Node Infobar - text */

.highlighter-nodeinfobar-text {
  /* 100% - size of the buttons and margins */
  max-width: calc(100% - 2 * (26px + 6px));
  padding-bottom: 1px;
}

html|*.highlighter-nodeinfobar-tagname {
  color: white;
}

html|*.highlighter-nodeinfobar-id {
  color: hsl(90, 79%, 52%);
}

html|*.highlighter-nodeinfobar-pseudo-classes {
  color: hsl(20, 100%, 70%);
}

/* Highlighter - Node Infobar - buttons */

.highlighter-nodeinfobar-button {
  -moz-appearance: none;
  border: 0 solid hsla(210,8%,5%,.45);
  padding: 0;
  width: 26px;
  min-height: 26px;
  background-color: transparent;
}

.highlighter-nodeinfobar-inspectbutton {
  -moz-border-end-width: 1px;
  box-shadow: 1px 0 0 hsla(210,16%,76%,.15), -1px 0 0 hsla(210,16%,76%,.15) inset;
  -moz-margin-end: 6px;
  list-style-image: url("chrome://browser/skin/devtools/inspect-button.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.highlighter-nodeinfobar-inspectbutton:-moz-locale-dir(rtl) {
  box-shadow: -1px 0 0 hsla(210,16%,76%,.15), 1px 0 0 hsla(210,16%,76%,.15) inset;
}

.highlighter-nodeinfobar-inspectbutton:active:hover,
.highlighter-nodeinfobar-container:not([locked]) >  .highlighter-nodeinfobar >  .highlighter-nodeinfobar-inspectbutton {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.highlighter-nodeinfobar-menu {
  -moz-border-start-width: 1px;
  box-shadow: -1px 0 0 hsla(210,16%,76%,.15), 1px 0 0 hsla(210,16%,76%,.15) inset;
  -moz-margin-start: 6px;
}

.highlighter-nodeinfobar-menu:-moz-locale-dir(rtl) {
  box-shadow: 1px 0 0 hsla(210,16%,76%,.15), -1px 0 0 hsla(210,16%,76%,.15) inset;
}

.highlighter-nodeinfobar-menu > .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
  -moz-box-align: center;
  -moz-margin-start: -1px;
}

/* Highlighter - Node Infobar - box & arrow */

.highlighter-nodeinfobar-arrow {
  width: 14px;
  height: 14px;
  -moz-margin-start: calc(50% - 7px);
  transform: rotate(-45deg);
  border: 1px solid transparent;
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.highlighter-nodeinfobar-arrow-top {
  margin-bottom: -8px;
  margin-top: 8px;
  border-right-color: hsla(210, 19%, 63%, .5);
  border-top-color: hsla(210, 19%, 63%, .5);
  background-image: linear-gradient(to top right, transparent 50%, hsl(209, 18%, 30%) 50%);
}

.highlighter-nodeinfobar-arrow-bottom {
  margin-top: -8px;
  margin-bottom: 8px;
  border-left-color: hsla(210, 19%, 63%, .5);
  border-bottom-color: hsla(210, 19%, 63%, .5);
  background-image: linear-gradient(to bottom left, transparent 50%, hsl(210, 24%, 16%) 50%);
}

.highlighter-nodeinfobar-container[position="top"] > .highlighter-nodeinfobar,
.highlighter-nodeinfobar-container[position="overlap"] > .highlighter-nodeinfobar {
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1) inset;
}

.highlighter-nodeinfobar-container[hide-arrow] > .highlighter-nodeinfobar {
  margin: 7px 0;
}

html|*#gcli-tooltip-frame,
html|*#gcli-output-frame {
  padding: 0;
  border-width: 0;
  background-color: transparent;
}

#gcli-output,
#gcli-tooltip {
  border-width: 0;
  background-color: transparent;
  -moz-appearance: none;
  margin-bottom: -2px;
}

.gclitoolbar-input-node,
.gclitoolbar-complete-node,
.gclitoolbar-prompt {
  margin: 0;
  -moz-margin-end: 5px;
  -moz-box-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-shadow: none;
}

.gclitoolbar-input-node {
  padding-left: 20px;
  background-color: transparent;
  -moz-appearance: none;
  border-color: hsl(210,24%,10%);
  color: hsl(210,30%,85%);
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  box-shadow: inset 0 1px 0 hsla(211,68%,6%,.05),
              0 0 0 1px hsla(210,40%,83%,.1);
}

.gclitoolbar-input-node > .textbox-input-box > html|*.textbox-input::-moz-selection {
  background-color: hsl(210,30%,85%);
  color: hsl(210,24%,16%);
  text-shadow: none;
}

.gclitoolbar-complete-node {
  padding-left: 21px;
  background-color: transparent;
  color: transparent;
}

.gclitoolbar-prompt {
  padding-left: 4px;
  padding-bottom: 2px;
  font-size: 150%;
  font-weight: bold;
  color: hsl(210,30%,85%);
  background-color: hsl(210,24%,16%);
}

.gclitoolbar-prompt-label,
.gcli-in-incomplete,
.gcli-in-error,
.gcli-in-ontab,
.gcli-in-todo,
.gcli-in-closebrace,
.gcli-in-param,
.gcli-in-valid {
  margin: 0;
  padding: 0;
}

.gcli-in-incomplete {
  border-bottom: 2px dotted #999;
}

.gcli-in-error {
  border-bottom: 2px dotted #F00;
}

.gcli-in-ontab {
  color: hsl(210,0%,35%);
}

.gcli-in-todo {
  color: hsl(210,50%,35%);
}

.gcli-in-closebrace {
  color: hsl(0,0%,80%);
}

.gclitoolbar-input-node {
  border-color: hsl(210,24%,10%);
  box-shadow: inset 0 1px 0 hsla(211,68%,6%,.05),
              0 0 0 1px hsla(210,40%,83%,.1);
}

/* Web Console */

.web-console-frame {
  border-bottom: 1px solid #aaa;
}

.web-console-frame[animated] {
  transition: height 100ms;
}

/* Developer Toolbar */

#developer-toolbar-toolbox-button {
  min-width: 18px;
}

#developer-toolbar-toolbox-button > .toolbarbutton-text {
  display: none;
}

#developer-toolbar-toolbox-button > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

.developer-toolbar-button {
  -moz-appearance: none;
  min-width: 78px;
  min-height: 22px;
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  border-radius: 3px;
  color: inherit;
  border: 1px solid transparent;
  margin: 0 5px;
  padding: 0 10px;
  list-style-image: url("chrome://browser/skin/devtools/tools-icons-small.png");
}

.developer-toolbar-button[open=true],
.developer-toolbar-button:active:hover,
.developer-toolbar-button[checked=true] {
  border-color: hsla(210,8%,5%,.6);
  background: rgba(0,0,0,.6);
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 1px 0 hsla(210,16%,76%,.1);
}

.developer-toolbar-button:hover,
.developer-toolbar-button[checked=true],
.developer-toolbar-button[open=true] {
  color: hsl(208,100%,60%) !important;
  text-shadow: 0 0 6px hsl(208,100%,60%);
}

.developer-toolbar-button[checked=true] {
  background: rgba(0,0,0,.4);
}

#developer-toolbar-toolbox-button {
  -moz-image-region: rect(64px, 16px, 80px, 0);
}

/* Error counter */

#developer-toolbar-toolbox-button[error-count]:before {
  color: #FDF3DE;
  min-width: 16px;
  text-shadow: none;
  background-image: linear-gradient(#B4211B, #8A1915);
  border-radius: 1px;
  -moz-margin-end: 5px;
}
