/* General */

wizardpage {
	height: 360px;
	width: 700px;
}
/* Remove margin and padding so the billboard will extend to the edge of the
   window. 3rd party themes should typically specify the same values. */
#updates, .wizard-page-box {
	margin: 0px;
	padding: 0px;
}
.update-content {
	padding: 10px;
}
.loadingBox {
	padding: 3px 5px 3px 5px;
}
.remoteLoadingThrobber {
	margin-top: 3px;
}
.remoteLoadingThrobber[state="loading"] {
	llist-style-image: url("chrome://global/skin/throbber/Throbber-small.gif");
}
.remoteLoadingThrobber[state="error"] {
	list-style-image: url("chrome://global/skin/icons/notfound.png");
}
.wizard-buttons-separator {
	margin-top: 0 !important;
}
#licenseContent, #incompatibleListbox {
	margin-inline-start: 6px;
	margin-inline-end: 6px;
}

/* Update Found Basic Page */

#updateName, #updateFinishedName {
	font-weight: bold;
	font-size: larger;
}

/* License Page */

#licenseContent {
	-moz-appearance: listbox;
}

/* Incompatible List Page */

#incompatibleListbox {
	margin-bottom: 6px;
}

/* Downloading Page */

#downloadStatusTop, #downloadStatusLine {
	-moz-box-align: center;
}
#downloadName {
	margin-top: 3px;
}
#downloadStatus {
	margin-top: 6px;
	height: 3em !important;
}
#downloadThrobber {
	margin: 5px 3px 0px 5px;
	list-style-image: url("chrome://global/skin/throbber/Throbber-small.png");
}
#downloadThrobber[state="loading"] {
	list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif");
}
#downloadStatusProgress {
	padding-right: 5px;
}
#pauseButton {
	-moz-appearance: none;
	list-style-image: url("chrome://mozapps/skin/downloads/downloadButtons.png");
	-moz-image-region: rect(0px, 48px, 16px, 32px);
	background-color: transparent;
	min-width: 0px;
	min-height: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
}
/* !Important must be used otherwise this won't immediately take affect */
#pauseButton > .button-box {
	padding: 0px !important;
}
#pauseButton:hover {
	-moz-image-region: rect(16px, 48px, 32px, 32px);
}
#pauseButton:active {
	-moz-image-region: rect(32px, 48px, 48px, 32px);
}
#pauseButton[disabled="true"] {
	-moz-image-region: rect(48px, 48px, 64px, 32px);
}
#pauseButton[paused="true"] {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
#pauseButton[paused="true"]:hover {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
#pauseButton[paused="true"]:active {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}
#pauseButton[paused="true"][disabled="true"] {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}
#verificationFailedIcon {
	list-style-image: url("chrome://global/skin/icons/notfound.png");
	margin: 5px 3px 0px 5px;
}

/* Error Page */

#errorReason {
	margin-top: 1px;
	margin-bottom: 2px;
	margin-inline-start: 6px !important;
	margin-inline-end: 5px;
	font-weight: bold;
}

/* Update History Window */

update {
	border-bottom: 1px dotted #c0c0c0;
}
.update-name {
	font-weight: bold;
}
.update-label-column {
	-moz-box-align: end;
}
.update-details-link {
	margin: 0px;
}
.update-type {
	font-weight: bold;
	color: #990000;
}
#historyItems {
	-moz-appearance: listbox;
	height: 200px;
	margin: 1px 5px 4px 5px;
}
#historyItems > scrollbox {
	margin-bottom: 1px;
}
.updatePrefsInfo {
	font-size: smaller;
	margin-left: 27px;
	margin-bottom: 10px;
}
