@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ============================================= */
/* Adblock Plus */

#abp-toolbarbutton,
toolbar[iconsize="small"] #abp-toolbarbutton,
statusbarpanel#abp-status image {
	list-style-image: url("chrome://global/skin/add-ons/abp-enabled.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#abp-toolbarbutton[abpstate="disabled"],
toolbar[iconsize="small"] #abp-toolbarbutton[abpstate="disabled"],
statusbarpanel#abp-status[abpstate="disabled"] image {
	list-style-image: url("chrome://global/skin/add-ons/abp-disabled.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#abp-toolbarbutton[abpstate="whitelisted"],
toolbar[iconsize="small"] #abp-toolbarbutton[abpstate="whitelisted"],
statusbarpanel#abp-status[abpstate="whitelisted"] image {
	list-style-image: url("chrome://global/skin/add-ons/abp-whitelisted.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#abp-toolbarbutton[disabled="true"],
toolbar[iconsize="small"] #abp-toolbarbutton[disabled="true"],
statusbarpanel#abp-status[disabled="true"] image {
	list-style-image: url("chrome://global/skin/add-ons/abp-defunc.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#abp-sidebar-close,
#listEditorIcon {
	-moz-appearance: none !important;
	-moz-user-focus: normal !important;
	list-style-image: url("chrome://global/skin/icons/close.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
	margin: 1px !important;
	padding: 2px 2px !important;
	border: 1px solid transparent !important;
}
#abp-sidebar-close:hover,
#listEditorIcon:hover {
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
#abp-sidebar-close:hover:active,
#listEditorIcon:hover:active {
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
#listEditor .menulist-dropmarker {
	margin: 2px !important;
}
#listEditor .menulist-dropmarker:hover:active {
	margin-top: 3px !important;
	margin-bottom: 1px !important;
}
