@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ============================================= */
/* ScrapBook */

#scrapbook-button {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book.png") !important;
}
toolbar[iconsize="small"] #scrapbook-button > .toolbarbutton-icon {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-small.png") !important;
}

/* ScrapBook Sidebar */

#ScrapBookWindow toolbar#ScrapBookMainToolbar toolbarbutton {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	-moz-margin-start: 0px !important;
	-moz-margin-end: 1px !important;
	padding: 2px 3px !important;
}
#ScrapBookWindow toolbar#ScrapBookMainToolbar toolbarbutton:hover:active,
#ScrapBookWindow toolbar#ScrapBookMainToolbar toolbarbutton[open="true"] {
	padding-top: 3px !important;
	padding-bottom: 1px !important;
	-moz-padding-start: 4px !important;
	-moz-padding-end: 2px !important;
}
toolbarbutton#sbToolbarNewFolder {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-folder-make.png") !important;
}
toolbarbutton#sbToolbarToggle {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-folder-open.png") !important;
}

/* Search */

#sbSearchTextbox {
	background-image: url("chrome://scrapbook/skin/dropdown.png");
	background-position: 5px 4px;
	background-repeat: no-repeat;
}
#sbSearchImage {
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 24px;
	height: 16px;
	margin: 2px 1px;
	padding-top: 16px !important;
}
#sbSearchImage[src="chrome://scrapbook/skin/search_fulltext.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-search-fulltxt.png") !important;
}
#sbSearchImage[src="chrome://scrapbook/skin/search_title.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-search-title.png") !important;
}
#sbSearchImage[src="chrome://scrapbook/skin/search_comment.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-search-comment.png") !important;
}
#sbSearchImage[src="chrome://scrapbook/skin/search_source.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-search-url.png") !important;
}
#sbSearchImage[src="chrome://scrapbook/skin/search_id.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-search-id.png") !important;
}
#sbSearchImage[src="chrome://scrapbook/skin/search_all.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-search-all.png") !important;
}

/* tree */

treechildren::-moz-tree-image(ScrapBookTreecolTitle, leaf) {
	list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
treechildren::-moz-tree-image(ScrapBookTreecolTitle, leaf, note) {
	list-style-image: url('chrome://global/skin/add-ons/quicknote-small.png') !important;
}
#ScrapBookTree {
	-moz-appearance: none !important;
	color: -moz-FieldText;
	background-color: -moz-Field;
	margin: 2px 4px;
	border: 2px solid !important;
	-moz-border-top-colors: -moz-Dialog #CCCCCC;
	-moz-border-right-colors: -moz-Dialog #CCCCCC;
	-moz-border-bottom-colors: -moz-Dialog #CCCCCC;
	-moz-border-left-colors: -moz-Dialog #CCCCCC;
}

/* Properties */

#sbPropCommentTab .tab-icon{
	background-image: url("chrome://global/skin/add-ons/scrap-book-comment.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	-moz-margin-end: 3px;
	padding-top: 16px;
}
#sbPropCommentTab .tab-icon:not([src="chrome://scrapbook/skin/edit_comment.png"]) {
	display: none;
}

/* Context Menu */

#ScrapBookContextMenu0 .menu-iconic-icon,
#ScrapBookContextMenu1 .menu-iconic-icon,
#ScrapBookContextMenu2 .menu-iconic-icon,
#ScrapBookContextMenu3 .menu-iconic-icon,
#ScrapBookContextMenu4 .menu-iconic-icon,
#ScrapBookContextMenu5 .menu-iconic-icon,
#ScrapBookContextMenu6 .menu-iconic-icon,
#ScrapBookContextMenu7 .menu-iconic-icon,
#ScrapBookContextMenu8 .menu-iconic-icon,
#ScrapBookFileMenu3 .menu-iconic-icon,
#ScrapBookFileMenu4 .menu-iconic-icon,
.sb-capture-partial > .menu-iconic-left image,
.sb-capture-entire  > .menu-iconic-left image,
.sb-capture-target  > .menu-iconic-left image,
.sb-capture-frame   > .menu-iconic-left image,
.sb-create .menu-iconic-icon,
menuitem#sbPopupRenew .menu-iconic-icon,
menuitem#sbPopupRemove .menu-iconic-icon,
menuitem#sbPopupProperty .menu-iconic-icon {
	min-width : 16px !important;
	min-height: 16px !important;
}

#ScrapBookContextMenu0 {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-small.png') !important;
}

.sb-capture-entire {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.sb-capture-entire + .sb-capture-entire {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
.sb-capture-partial {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
.sb-capture-partial + .sb-capture-partial {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 64px, 16px, 48px) !important;
}
.sb-capture-frame {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 80px, 16px, 64px) !important;
}
.sb-capture-frame + .sb-capture-frame {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 96px, 16px, 80px) !important;
}
.sb-capture-target {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 112px, 16px, 96px) !important;
}
.sb-capture-target + .sb-capture-target {
	list-style-image: url('chrome://global/skin/add-ons/scrap-book-capture.png') !important;
	-moz-image-region: rect(0px, 128px, 16px, 112px) !important;
}

/* Manage */

toolbarbutton#sbToolbarMove {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-move.png") !important;
}
.sb-create,
button#mbAddButton {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-create.png") !important;
}
menuitem#sbPopupRemove,
toolbarbutton#sbToolbarRemove,
button#mbRemoveButton {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-delete.png") !important;
}
menuitem#sbPopupProperty,
toolbarbutton#sbToolbarProperty,
button#mbEditButton {
	list-style-image: url("chrome://global/skin/add-ons/scrap-book-properties.png") !important;
}

/* Status Panel */

#ScrapBookStatusPanel .statusbarpanel-icon,
#ScrapBookEditStatusPanel .statusbarpanel-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-edit.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}

/* Edit Toolbar */

#ScrapBookEditIcon[src="chrome://scrapbook/skin/treeitem.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-item.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookEditor .toolbarbutton-icon[src="chrome://scrapbook/skin/edit_comment.png"] {
	background-image: url("chrome://global/skin/add-ons/scrap-book-comment.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookHighlighter .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-marker.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookEditAnnotation .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-inline.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookEditCutter .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-cutter.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookEditEraser .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-eraser.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookEditUndo .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-reload.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapBookEditRestore .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-reload.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
#ScrapNoteToolbarS .toolbarbutton-icon,
#ScrapBookEditSave .toolbarbutton-icon {
	background-image: url("chrome://global/skin/add-ons/scrap-book-save.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 16px;
}
