@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ============================================= */
/* Stylish */

#stylish-toolbar-button,
toolbar[iconsize="small"] #stylish-toolbar-button {
	list-style-image: url("chrome://global/skin/add-ons/stylish.png") !important;
}
#stylish-toolbar-button[styles-applied="styles-off"],
toolbar[iconsize="small"] #stylish-toolbar-button[styles-applied="styles-off"] {
	list-style-image: url("chrome://global/skin/add-ons/stylish-dis.png") !important;
}
#aios-toolbar #stylish-toolbar-button dropmarker {
	display: none;
}
#userstyle-top-container {
	border-bottom: 1px dotted #CCCCCC;
}
#stylish-panel {
	background-image: url("chrome://global/skin/add-ons/stylish.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	max-height: 20px;
	padding-top: 20px;
}
#category-userstyle > .category-icon,
#category-userstyles > .category-icon,
#viewGroup #userstyles-view {
	list-style-image: url("chrome://global/skin/add-ons/stylish-addon.png") !important;
}
#styles-container {
	margin: 0px !important;
}
#styles {
	margin: 0px !important;
	border: none !important;
}
#styles:focus richlistitem[selected="true"] {
	color: -moz-FieldText !important;
	background-color: transparent !important;
	background-image: url("chrome://global/skin/reintoolbar/stripe.png") !important;
}
image[anonid="status-icon"] {
	list-style-image: url("chrome://global/skin/add-ons/stylish.png") !important;
}
