@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ============================================= */
/* Tab Mix Plus */

/* progressmeter */

.tab-progress {
	background-image: none !important;
}

/* tabbrowser tabs */

.tabbrowser-strip .tabbrowser-tabs[flowing=multibar][classic=v3Mac] {
	background-image: url("chrome://global/skin/reintoolbar/shadow-top.png") !important;
	background-position: 0% 0% !important;
	background-repeat: repeat-x !important;
}

/* for extra icons */

.tab-lock-icon {
	list-style-image: url("chrome://global/skin/add-ons/TMP-extra.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
	width: 16px !important;
	height: 16px !important;
}
.tab-protect-icon {
	list-style-image: url("chrome://global/skin/add-ons/TMP-extra.png") !important;
	-moz-image-region: rect(16px, 16px, 32px, 0px) !important;
	width: 16px !important;
	height: 16px !important;
}
.tab-reload-icon {
	list-style-image: url("chrome://global/skin/add-ons/TMP-extra.png") !important;
	-moz-image-region: rect(32px, 16px, 48px, 0px) !important;
	width: 16px !important;
	height: 16px !important;
}

/* options */

#BrowserPreferences radio[pane=paneTabs],
#BrowserPreferences radio[pane=paneTabs]:hover {
	list-style-image: url("chrome://browser/skin/preferences/options.png") !important;
	-moz-image-region: rect(0px, 64px, 32px, 32px) !important;
}
#tabmixSessionManager,
#btn_tabmixplus,
#tabmix-menu,
#btn-sm-settings,
#tm-sm-settings,
.newtab-menu-icon,
.tabmix-menu-icon {
	list-style-image: url("chrome://global/skin/add-ons/TMP-newtab.png") !important;
}

/* undoclose */

#btn_undoclose,
#btn_undoclose:hover {
	list-style-image: url("chrome://global/skin/add-ons/TMP-unclosed.png") !important;
	-moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
#btn_undoclose[disabled=true] {
	opacity: 0.5;
}
#main-window toolbar[iconsize=small] #btn_undoclose,
#main-window toolbar[iconsize=small] #btn_undoclose:hover,
.closedtabs-icon > .menu-iconic-left,
.closedtabs-icon:hover > .menu-iconic-left {
	list-style-image: url("chrome://global/skin/add-ons/TMP-unclosed-small.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#main-window toolbar[iconsize=small] #btn_undoclose[disabled=true],
.closedtabs-icon[disabled=true] > .menu-iconic-left {
	opacity: 0.5;
}

/* closed windows */

#btn_closedwindows,
#btn_closedwindows:hover {
	list-style-image: url("chrome://global/skin/add-ons/TMP-closedwindows.png") !important;
	-moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
#btn_closedwindows[disabled=true] {
	opacity: 0.5;
}
#main-window toolbar[iconsize=small] #btn_closedwindows,
#main-window toolbar[iconsize=small] #btn_closedwindows:hover,
menupopup .closedwindows-icon > .menu-iconic-left,
menupopup .closedwindows-icon:hover > .menu-iconic-left {
	list-style-image: url("chrome://global/skin/add-ons/TMP-closedwindows-small.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#main-window toolbar[iconsize=small] #btn_closedwindows[disabled=true],
menupopup .closedwindows-icon[disabled=true] > .menu-iconic-left {
	opacity: 0.5;
}

/* tabs list */

#btn_tabslist,
#btn_tabslist:hover,
#tm-tabsList {
	list-style-image: url("chrome://global/skin/add-ons/TMP-list.png") !important;
	-moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
#btn_tabslist[disabled=true] {
	opacity: 0.5;
}
#main-window toolbar[iconsize=small] #btn_tabslist,
#main-window toolbar[iconsize=small] #btn_tabslist:hover,
#tm-tabsList > .menu-iconic-left,
#tm-tabsList:hover > .menu-iconic-left {
	list-style-image: url("chrome://global/skin/add-ons/TMP-list-small.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#main-window toolbar[iconsize=small] #btn_tabslist[disabled=true],
#tm-tabsList[disabled=true] > .menu-iconic-left {
	opacity: 0.5;
}

/* session manager */

#btn_sessionmanager,
#btn_sessionmanager:hover,
#tm-sessionmanager {
	list-style-image: url("chrome://global/skin/add-ons/TMP-session.png") !important;
	-moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
#btn_sessionmanager[disabled=true] {
	opacity: 0.5;
}
#main-window toolbar[iconsize=small] #btn_sessionmanager,
#main-window toolbar[iconsize=small] #btn_sessionmanager:hover,
#tm-sessionmanager > .menu-iconic-left,
#tm-sessionmanager:hover > .menu-iconic-left,
.sessionmanager-icon > .menu-iconic-left {
	list-style-image: url("chrome://global/skin/add-ons/TMP-session-small.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#main-window toolbar[iconsize=small] #btn_sessionmanager[disabled=true],
#tm-sessionmanager[disabled=true] > .menu-iconic-left {
	opacity: 0.5;
}

/* ============================================= */
/* Session Manager */

#sessionmanager-toolbar {
	list-style-image: url("chrome://global/skin/add-ons/TMP-session.png") !important;
	-moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
#sessionmanager-undo {
	list-style-image: url("chrome://global/skin/add-ons/TMP-unclosed.png") !important;
	-moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
#sessionmanager-menu[icon="true"], 
#sessionmanager-appmenu[icon="true"],
toolbar[iconsize="small"] #sessionmanager-toolbar {
	list-style-image: url("chrome://global/skin/add-ons/TMP-session-small.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
toolbar[iconsize="small"] #sessionmanager-undo {
	list-style-image: url("chrome://global/skin/add-ons/TMP-unclosed-small.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#sessionmanager-undo[disabled="true"] {
	opacity: 0.5;
}
