@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ============================================= */
/* background image */

toolbar[toolbarname*="#dot"] {
	background-image: url("chrome://global/skin/reintoolbar/dot.png");
}
toolbar[toolbarname*="#stripe"] {
	background-image: url("chrome://global/skin/reintoolbar/stripe.png");
}
toolbar[toolbarname*="#check"] {
	background-image: url("chrome://global/skin/reintoolbar/check.png");
}
toolbar[toolbarname*="#shadow-top"] {
	background-image: url("chrome://global/skin/reintoolbar/shadow-top-border.png");
	background-position: 0% 0%;
	background-repeat: repeat-x;
}
toolbar[toolbarname*="#shadow-bottom"] {
	background-image: url("chrome://global/skin/reintoolbar/shadow-bottom-border.png");
	background-position: 0% 100%;
	background-repeat: repeat-x;
}
toolbar[toolbarname*="#bright"] {
	background-image: url("chrome://global/skin/reintoolbar/back-light-w.png");
}
toolbar[toolbarname*="#dark"] {
	background-image: url("chrome://global/skin/reintoolbar/back-light-b.png");
}

/* ============================================= */
/* background color */

toolbar[toolbarname*="#bg-color1"] {
	background-color: ThreeDHighlight;
}
toolbar[toolbarname*="#bg-color2"] {
	background-color: ThreeDLightShadow;
}
toolbar[toolbarname*="#bg-color3"] {
	background-color: #CCCCCC;
}
toolbar[toolbarname*="#bg-color4"] {
	background-color: #AAAAAA;
}
toolbar[toolbarname*="#bg-black"] {
	background-color: #000000;
}
toolbar[toolbarname*="#bg-white"] {
	background-color: #ffffff;
}
toolbar[toolbarname*="#bg-highlight"] {
	background-color: Highlight;
}

/* ============================================= */
/* text color */

toolbar[toolbarname*="#txt-black"] toolbarbutton {
	color: #000000;
}
toolbar[toolbarname*="#txt-white"] toolbarbutton {
	color: #ffffff;
}
toolbar[toolbarname*="#txt-highlight"] toolbarbutton {
	color: HighlightText;
}
toolbar[toolbarname*="#txt-gray"] toolbarbutton {
	color: GrayText;
}

/* ============================================= */
/* item selection */

toolbar[toolbarname*="#hover-bright"] toolbarbutton:hover,
toolbar[toolbarname*="#hover-bright"] toolbarbutton[buttonover="true"] {
	background-image: url("chrome://global/skin/toolbar/lighten.png");
	border-color: transparent !important;
}
toolbar[toolbarname*="#hover-dark"] toolbarbutton:hover,
toolbar[toolbarname*="#hover-dark"] toolbarbutton[buttonover="true"] {
	background-image: url("chrome://global/skin/reintoolbar/back-light-b.png");
	border-color: transparent !important;
}
toolbar[toolbarname*="#hover-highlight"] toolbarbutton:hover,
toolbar[toolbarname*="#hover-highlight"] toolbarbutton[buttonover="true"] {
	background-color: Highlight;
	border-color: transparent !important;
}
toolbar[toolbarname*="#hover-bright"] toolbarbutton:hover:active,
toolbar[toolbarname*="#hover-bright"] toolbarbutton[open="true"] {
	background-color: rgba(255,255,255,0.6);
	padding-top: 3px;
	padding-bottom: 1px;
	-moz-padding-start: 3px;
	-moz-padding-end: 1px;
	border-color: transparent !important;
}
toolbar[toolbarname*="#hover-dark"] toolbarbutton:hover:active,
toolbar[toolbarname*="#hover-dark"] toolbarbutton[open="true"] {
	background-image: url("chrome://global/skin/reintoolbar/back-light-b.png");
	padding-top: 3px;
	padding-bottom: 1px;
	-moz-padding-start: 3px;
	-moz-padding-end: 1px;
	border-color: transparent !important;
}
toolbar[toolbarname*="#hover-highlight"] toolbarbutton:hover:active,
toolbar[toolbarname*="#hover-highlight"] toolbarbutton[open="true"] {
	background-color: Highlight;
	padding-top: 3px;
	padding-bottom: 1px;
	-moz-padding-start: 3px;
	-moz-padding-end: 1px;
	border-color: transparent !important;
}
toolbar[toolbarname*="#hover-bright"] > toolbarbutton:hover > toolbarbutton:hover,
toolbar[toolbarname*="#hover-bright"] > toolbarbutton:hover:active > toolbarbutton:hover:active,
toolbar[toolbarname*="#hover-dark"] > toolbarbutton:hover > toolbarbutton:hover,
toolbar[toolbarname*="#hover-dark"] > toolbarbutton:hover:active > toolbarbutton:hover:active {
	background-image: none !important;
}

/* ============================================= */
/* favicon style */

toolbar[toolbarname*="#icon-less"] .bookmark-item:not([container=true]) .toolbarbutton-icon {
	display: none !important;
}
toolbar[toolbarname*="#icon-def"] .bookmark-item[image^="moz-anno:"] .toolbarbutton-icon {
	background-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
	background-repeat: no-repeat;
	max-height: 16px;
	padding-top: 16px;
}

/* ============================================= */
/* Locationbar & Searchbar */

/* square style */

toolbar[toolbarname*="#lbar-square"] #urlbar,
toolbar[toolbarname*="#sbar-square"] #searchbar {
	background-clip: padding-box;
	border: 1px solid transparent !important;
	border-radius: 0px !important;
	box-shadow: 0.5px 1px 1px rgba(0,0,0,0.5) inset;
}
toolbar[toolbarname*="#lbar-square"] #urlbar #identity-box.verifiedIdentity > hbox {
	box-shadow: 0.5px 1px 1px rgba(0,0,0,0.5) inset;
	border-radius: 0px !important;
}

/* circle style */

toolbar[toolbarname*="#lbar-circle"] #urlbar {
	background-clip: padding-box;
	-moz-padding-end: 4px !important;
	border: 1px solid transparent !important;
	border-radius: 100px !important;
	box-shadow: 0.5px 1px 1px rgba(0,0,0,0.5) inset;
}
toolbar[toolbarname*="#lbar-circle"] #urlbar #identity-box.verifiedIdentity > hbox {
	-moz-padding-start: 4px !important;
	box-shadow: 0.5px 1px 1px rgba(0,0,0,0.5) inset;
	border-top-left-radius: 100px !important;
	border-bottom-left-radius: 100px !important;
}
toolbar[toolbarname*="#sbar-circle"] #searchbar {
	background-clip: padding-box;
	-moz-padding-start: 4px !important;
	-moz-padding-end: 4px !important;
	border: 1px solid transparent !important;
	border-radius: 100px !important;
	box-shadow: 0.5px 1px 1px rgba(0,0,0,0.5) inset;
}

