@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.findbar-closebutton {
	-moz-appearance: none;
	background: none !important;
	padding: 2px !important;
	border: 1px solid transparent;
}

findbar {
	-moz-appearance: none !important;
	background-image: url("chrome://global/skin/reintoolbar/stripe.png");
	background-position: 0% 1px;
	background-repeat: repeat;
	min-width: 1px;
	padding: 1px 0px !important;
}

/* find-next button */

.findbar-find-next {
	list-style-image: url("chrome://global/skin/icons/find.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
.findbar-find-next:hover {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
.findbar-find-next[disabled="true"] {
	-moz-image-region: rect(32px, 16px, 48px, 0px) !important;
}

/* find-previous button */

.findbar-find-previous {
	list-style-image: url("chrome://global/skin/icons/find.png");
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
.findbar-find-previous:hover {
	-moz-image-region: rect(16px, 32px, 32px, 16px);
}
.findbar-find-previous[disabled="true"] {
	-moz-image-region: rect(32px, 32px, 48px, 16px) !important;
}

/* highlight button */

.findbar-highlight {
	list-style-image: url("chrome://global/skin/icons/find.png");
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}
.findbar-highlight:hover {
	-moz-image-region: rect(16px, 48px, 32px, 32px);
}
.findbar-highlight[disabled="true"] {
	-moz-image-region: rect(32px, 48px, 48px, 32px) !important;
}
.findbar-highlight:active, .findbar-highlight[checked="true"] {
	-moz-image-region: rect(48px, 48px, 64px, 32px);
}
.findbar-highlight[checked="true"]:hover {
	-moz-image-region: rect(64px, 48px, 80px, 32px);
}
.find-status-icon {
	list-style-image: none;
	margin-top: 0px;
	margin-bottom: 0px;
	-moz-margin-start: 12px;
	-moz-margin-end: 0px;
	width: 16px;
	height: 16px;
	border: 1px solid transparent;
}
.findbar-find-status {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	-moz-margin-start: 0px !important;
	-moz-margin-end: 1px !important;
	padding: 2px 3px !important;
	border: 1px solid transparent;
}
.find-status-icon[status="notfound"] {
	list-style-image: url("chrome://global/skin/icons/notfound.png");
}
.findbar-textbox {
	-moz-binding: url("chrome://global/content/bindings/findbar.xml#findbar-textbox");
	-moz-appearance: none;
	cursor: text;
	color: -moz-FieldText;
	background-color: -moz-Field;
	margin: 0px;
	padding: 1px 4px;
	border: 1px solid ThreeDShadow;
	border-radius: 4px;
}
.findbar-textbox[status="notfound"] {
	color: #FFFFFF;
	background-color: #FF6666;
}
findbar[flash="true"]	> .find-field-container > .findbar-textbox {
	background-color: yellow;
}
.find-status-icon[status="wrapped"] {
	list-style-image: url("chrome://global/skin/icons/wrap.png");
}
.find-field-container {
	-moz-appearance: none;
}
