#genericAbout {
	padding: 0px 0px 10px 0px;
	min-height: 300px;
	max-height: 500px;
	width: 30em;
}
#clientBox {
	background-color: #ffffff;
	color: #000000;
	padding: 10px;
}
.basic-info {
	padding: 10px;
}
#extensionIcon {
	list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
	max-width: 64px;
	max-height: 64px;
	-moz-margin-end: 6px;
}
#genericAbout[addontype="theme"] #extensionIcon {
	list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}
#genericAbout[addontype="locale"] #extensionIcon {
	list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

#genericAbout[addontype="plugin"] #extensionIcon {
	list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}
#extensionName {
	font-size: large;
	font-weight: bold;
}
#extensionVersion {
	font-weight: bold;
	color: #909090;
}
#extensionDescription {
	color: #404040;
}
#groove {
	margin-top: 0px;
}
#extensionDetailsBox {
	overflow: auto;
	min-height: 120px;
}
.boxIndent {
	-moz-margin-start: 6px;
}
#extensionCreator, .contributor {
	margin: 0px;
} 
.sectionTitle {
	padding: 2px 0px 3px 0px;
	margin-top: 3px;
	font-weight: bold;
}
