
#alert {
	list-style-image: url("chrome://mozapps/skin/update/update.png");
}
.throbber {
	list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif");
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-inline-start: 5px;
	margin-inline-end: 2px;
}
.alertBox {
	color: #ffffff;
	background-color: rgb(128,200,210);
	margin-left: 3px;
	margin-right: 3px;
	padding: 5px;
	border: 1px solid rgb(128,200,210);
}
