
/* ::::: tabbrowser tabs ::::: */

#TabsToolbar:not(:-moz-lwtheme) {
	background-color: var(--border-color);
	background-image: url("chrome://global/skin/reintoolbar/shadow-top.png");
	background-position: 0% 0%;
	background-repeat: repeat-x;
	min-height: 0px;
	padding: 0px !important;
	border: none !important;
}
#tabbrowser-tabs {
	background: transparent !important;
	padding: 0px;
	border: none !important;
	text-shadow: none !important;
}

/* ::::: tab ::::: */

.tabbrowser-tab {
	-moz-appearance: none !important;
	min-width: 26px;
	padding: 1px 2px;
}
.tabbrowser-tab:-moz-lwtheme {
	background-color: rgba(255,255,255,0.6);
	background-clip: padding-box;
}
.tabbrowser-tab[pinned] {
	min-height: 26px;
}
.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) {
	box-shadow: 0px 0px 16px rgb(138,200,210) inset;
}
.tab-throbber,
.tab-icon-image {
	-moz-box-align: center;
	-moz-box-pack: center;
	list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	width: 16px !important;
	height: 16px !important;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-inline-start: 1px;
	margin-inline-end: 3px;
}
.tab-throbber[pinned],
.tab-icon-image[pinned] {
	margin-inline-end: -2px;
}
.tab-throbber,
.tab-throbber[progress] {
	opacity: 0.5;
	list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif") !important;
}
.tab-text {
	text-align: left !important;
}
.tab-text[chromedir="rtl"] {
	text-align: right !important;
}
tabpanels {
	-moz-appearance: none;
}

/* tabbrowser-tab focus ring */
/*
.tabbrowser-tab .tab-text {
	border: 1px solid transparent;
}

.tabbrowser-tab[selected="true"]:focus .tab-text {
	border: 1px dotted -moz-DialogText;
	outline: none !important;
}
*/
/* Tab DnD indicator */

.tab-drop-indicator-bar {
	position: relative;
	height: 11px;
	margin-top: -11px;
	margin-inline-start: -5px;
}
.tab-drop-indicator {
	position: relative;
	height: 11px;
	width: 11px;
	background-image: url("chrome://browser/skin/tabbrowser/tabDragIndicator.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

/* Tab close button */

.tab-close-button > .toolbarbutton-icon {
	margin-inline-end: 0px !important;
}
.tab-close-button {
	-moz-appearance: none !important;
	cursor: default !important;
	list-style-image: url("chrome://global/skin/icons/close.png") !important;
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
	background: none !important;
	height: 16px !important;
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	margin-inline-start: 0px !important;
	margin-inline-end: 1px !important;
	padding: 0px !important;
	border: none !important;
}
.tab-close-button:hover {
	list-style-image: url("chrome://global/skin/icons/close.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
	background-image: none !important;
}
.tabbrowser-tab[selected="true"] .tab-close-button:hover {
	list-style-image: url("chrome://global/skin/icons/close.png") !important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
	background: none !important;
}
.tab-close-button:hover:active,
.tabbrowser-tab[selected="true"] .tab-close-button:hover:active {
	list-style-image: url("chrome://global/skin/icons/close.png") !important;
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
	background: none !important;
}
.tabbrowser-tab[selected="true"] .tab-close-button {
  /* Make this button focusable so clicking on it will not focus the tab while
     it's getting closed */
	-moz-user-focus: normal !important;
	list-style-image: url("chrome://global/skin/icons/close.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
	background: none !important;
}
.tab-close-button:focus {
	outline: none !important;
}

/* Tab icon overlay */

.tab-icon-overlay {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-inline-start: -15px;
  margin-inline-end: -1px;
  position: relative;
}

/* Tab sound indicator */

.tab-icon-sound {
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  width: 16px;
  height: 16px;
  padding: 0;
}

.allTabs-endimage[soundplaying],
.tab-icon-sound[soundplaying],
.tab-icon-overlay[soundplaying] {
  list-style-image: url("chrome://global/skin/media/muteButton.png");
}

.allTabs-endimage[muted],
.tab-icon-sound[muted],
.tab-icon-overlay[muted] {
  list-style-image: url("chrome://global/skin/media/unmuteButton.png");
}

.allTabs-endimage[soundplaying],
.allTabs-endimage[muted],
.tab-icon-sound[soundplaying],
.tab-icon-sound[muted],
.tab-icon-overlay[soundplaying],
.tab-icon-overlay[muted] {
  -moz-image-region: rect(6px 26px 23px 7px);
  filter: drop-shadow(0px 0px 1px #000);
}

.tab-icon-sound[soundplaying]:hover,
.tab-icon-sound[muted]:hover,
.tab-icon-overlay[soundplaying]:hover,
.tab-icon-overlay[muted]:hover {
  opacity: .6;
}

.tab-icon-sound[soundplaying]:hover:active,
.tab-icon-sound[muted]:hover:active,
.tab-icon-overlay[soundplaying]:hover:active,
.tab-icon-overlay[muted]:hover:active {
  opacity: .3;
}

.tab-icon-sound[soundplaying-scheduledremoval]:not([muted]):not(:hover),
.tab-icon-overlay[soundplaying-scheduledremoval]:not([muted]):not(:hover) {
  transition: opacity .3s linear var(--soundplaying-removal-delay);
  opacity: 0;
}

/* Tab scrollbox arrow and all-tabs buttons */

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
	-moz-appearance: none !important;
	-moz-box-align: center;
	-moz-box-pack: center;
	-moz-image-region: rect(0px 32px 16px 16px);
	margin: 2px 0px;
}
.tabbrowser-arrowscrollbox > .scrollbutton-up {
	list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-start.png");
}
.tabbrowser-arrowscrollbox > .scrollbutton-down {
	list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-end.png");
}
.tabbrowser-arrowscrollbox[chromedir="rtl"] > .scrollbutton-up {
	list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-end.png");
}
.tabbrowser-arrowscrollbox[chromedir="rtl"] > .scrollbutton-down {
	list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-start.png");
}
.tabbrowser-arrowscrollbox > .scrollbutton-up[disabled="true"],
.tabbrowser-arrowscrollbox > .scrollbutton-down[disabled="true"] {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover:active,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled="true"]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled="true"]):hover:active {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
.tabbrowser-arrowscrollbox > .scrollbutton-up .toolbarbutton-icon,
.tabbrowser-arrowscrollbox > .scrollbutton-down .toolbarbutton-icon {
	margin-inline-end: 0px;
}

/* New Tab Button */

.tabs-newtab-button {
	-moz-appearance: none !important;
	list-style-image: url("chrome://browser/skin/tabbrowser/newtab.png") !important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
.tabs-newtab-button[disabled="true"] {
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
.tabs-newtab-button > .toolbarbutton-icon {
	margin-inline-end: 0px;
}

/* All Tabs Button */

.tabs-alltabs-button {
	-moz-appearance: none !important;
	list-style-image: url("chrome://browser/skin/tabbrowser/alltabs.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.tabs-alltabs-button[disabled="true"] {
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
.tabs-alltabs-button > .toolbarbutton-text {
	display: none;
}
.tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
	display: none;
	margin-top: 3px !important;
}

/* All tabs menupopup */

.alltabs-item > .menu-iconic-left > .menu-iconic-icon {
	list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.alltabs-item[selected="true"] {
	font-weight: bold;
}
.alltabs-item[busy="true"] > .menu-iconic-left > .menu-iconic-icon {
	opacity: 0.5;
	list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif");
}

/* Tabstrip close button */

.tabs-closebutton {
	-moz-appearance: none;
	list-style-image: url("chrome://global/skin/icons/close.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
	background: none !important;
	padding: 6px 2px !important;
	border: none !important;
}
.tabs-closebutton:hover {
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
	background: none !important;
}
.tabs-closebutton:hover:active {
	-moz-image-region: rect(0px, 48px, 16px, 32px) !important;
	background: none !important;
}
.tabs-closebutton > .toolbarbutton-icon {
	margin-inline-end: 0px !important;
	padding-inline-end: 2px !important;
	padding-inline-start: 2px !important;
}
