/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadsRichListBox {
	/** The default listbox appearance comes with an unwanted margin. **/
	-moz-appearance: none;
	margin: 0px;
	padding: 0px;
	border: none;
}
#downloadsRichListBox > richlistitem.download {
	height: 6em;
}
#downloadsRichListBox > richlistitem.download:hover,
#downloadsRichListBox > richlistitem.download[selected="true"] {
	cursor: pointer;
	color: -moz-FieldText !important;
	background-color: transparent !important;
	background-image: url("chrome://global/skin/reintoolbar/dot.png") !important;
}
.downloadTypeIcon {
	margin-inline-end: 8px;
	margin-inline-start: 8px;
	/* explicitly size the icon, so size doesn't vary on hidpi systems */
	height: 32px;
	width: 32px;
}
.blockedIcon {
	list-style-image: url("chrome://global/skin/icons/Error.png");
}
.downloadTarget,
.downloadDisplayName {
	margin-bottom: 3px;
	cursor: inherit;
}
.downloadDetails {
	opacity: 0.7;
	font-size: 95%;
	cursor: inherit;
}
.downloadButton {
	-moz-appearance: none;
	background: transparent;
	list-style-image: url("chrome://browser/skin/downloads/buttons.png");
	min-width: 0;
	min-height: 0;
	margin: 3px;
	padding: 5px;
	border: none;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
.downloadButton.downloadShow {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}
.downloadButton.downloadRetry {
	-moz-image-region: rect(0px, 64px, 16px, 48px);
}
richlistitem.download:hover > .downloadButton.downloadCancel,
richlistitem.download:hover > .downloadButton.downloadCancel:hover,
richlistitem.download:hover > .downloadButton.downloadShow,
richlistitem.download:hover > .downloadButton.downloadShow:hover,
richlistitem.download:hover > .downloadButton.downloadRetry,
richlistitem.download:hover > .downloadButton.downloadRetry:hover {
	opacity: 0.8;
}
richlistitem.download:hover > .downloadButton.downloadCancel:active,
richlistitem.download:hover > .downloadButton.downloadShow:active,
richlistitem.download:hover > .downloadButton.downloadRetry:active {
	opacity: 0.4;
}
