#xpinstallheader {
	margin-bottom: 2em;
}
#itemList {
	-moz-appearance: none !important;
	color: -moz-FieldText;
	background-color: -moz-Field;
	height: 12em;
	margin: 10px 4px 10px 4px;
	border: 1px solid #CCCCCC;
}
#itemWarningIntro {
	margin-inline-start: 8px;
}
#dialogContentBox {
	padding: 5px;
}
installitem {
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-inline-start: 5px;
	padding-inline-end: 0px;
	border-bottom: 1px dotted #CCCCCC;
}
.alert-icon {
	list-style-image: url("chrome://global/skin/icons/Warning.png");
	width: 32px;
	height: 32px;
	margin-inline-end: 10px;
}
.warning {
	font-weight: bold;
}
.xpinstallIconContainer {
	width: 32px;
	height: 32px;
	margin-inline-end: 5px;
}
.xpinstallItemName {
	font-weight: bold;
}
.xpinstallItemSigned {
	font-style: italic;
	font-size: 0.9em;
}
.xpinstallItemURL {
	-moz-appearance: none !important;
	color: -moz-FieldText;
	background-color: -moz-Field;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-inline-start: 6px;
	margin-inline-end: 5px;
	padding: 0px;
	border: none;
}
.xpinstallItemIcon {
	list-style-image: url("chrome://mozapps/skin/xpinstall/xpinstallItemGeneric.png");
	width: 32px;
	height: 32px;
	max-width: 32px !important;
	max-height: 32px !important;
}
