/* *** winstripe *** */

#searchbar {
	color: -moz-FieldText;
	background-color: -moz-Field;
	min-height: 24px;
	margin: 2px 3px;
	padding: 0px;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}
.searchbar-textbox {
	-moz-appearance: none;
	background-color: transparent;
	width: 4em;
	min-width: 4em;
	margin: 0px;
	border: none;
}
.textbox-input-box {
	padding: 0px !important;
	margin: 0px !important;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
	list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	height: 16px !important;
	width: 16px !important;
}
.searchbar-engine-button {
	-moz-appearance: none;
	color: -moz-FieldText;
	background-color: transparent;
	min-width: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
}
.searchbar-dropmarker-image {
	background-color: transparent;
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
	height: 16px;
	height: 16px;
	margin-inline-start: 3px;
	padding-top: 7px;
	padding-bottom: 6px;
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	border-radius: 1px;
}
.searchbar-engine-button[addengines="true"] .searchbar-dropmarker-image {
	background-color: ThreeDLightShadow;
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}
.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
	font-weight: bold;
}

/* ::::: search-go-button ::::: */

.search-go-button,
.search-go-button[chromedir="rtl"] {
	-moz-appearance: none;
	-moz-box-align: center;
	-moz-box-pack: center;
	background-color: transparent;
	list-style-image: url("chrome://global/skin/icons/Search-glass.png");
	margin: 1px;
	padding: 2px;
	border: none;
}
.search-go-button:hover:active {
	padding-top: 3px;
	padding-bottom: 1px;
	padding-inline-start: 3px;
	padding-inline-end: 1px;
}
.search-go-button > .toolbarbutton-icon {
	margin: 0px !important;
}
