wizard {
	-moz-appearance: none;
	height: 33em;
}
#mergeChoiceRadio .radio-label-box {
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
}
.wizard-buttons {
	background-color: transparent;
	background-image: url("chrome://global/skin/reintoolbar/shadow-top-border.png");
	background-position: 0% 0%;
	background-repeat: repeat-x;
	border: none;
	padding-top: 6px;
}
.wizard-buttons-separator.groove {
	display: none;
}
.wizard-buttons-btm {
	min-height: 32px;
	padding: 2px 10px 5px 10px;
}
