html {
	background: -moz-Dialog;
}
body {
	margin: 0px;
	padding: 0px 1em;
	color: -moz-FieldText;
	font: message-box;
}
#aboutPageContainer {
	position: relative;
	min-width: 330px;
	max-width: 50em;
	margin: 4em auto;
	border: 1px solid ThreeDShadow;
	border-radius: 10px;
	padding: 3em;
	-moz-padding-start: 30px;
	background: -moz-Field;
}
#aboutLogoContainer {
	width: 300px;
  margin: 0 auto;
	margin-bottom: 2em;
}
img {
	border: 0px;
}
ul {
	margin: 0px;
	-moz-margin-start: 1.5em;
	padding: 0px;
	list-style: square;
}
ul > li {
	margin-top: 0.5em;
}
