@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

resizer[dir="top"],
resizer[dir="bottom"] {
	cursor: ns-resize;
}

resizer[dir="left"],
resizer[dir="right"] {
	cursor: ew-resize;
}

resizer[dir="topleft"] {
	cursor: nw-resize;
}

resizer[dir="bottomright"],
resizer[dir="bottomend"]:-moz-locale-dir(ltr) {
	cursor: se-resize;
}

resizer[dir="topright"] {
	cursor: ne-resize;
}

resizer[dir="bottomleft"],
resizer[dir="bottomend"]:-moz-locale-dir(rtl) {
	cursor: sw-resize;
}

resizer[dir="bottomright"]:-moz-locale-dir(ltr),
resizer[dir="bottomend"] {
	cursor: se-resize;
	background-image: url("chrome://global/skin/icons/resizer.png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-bottom: 2px;
	margin-inline-end: 2px;
}

statusbar resizer[dir="bottomright"] {
	margin-bottom: 0px;
}
