/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL toolbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
	background-color: -moz-Dialog;
	background-image: url("chrome://global/skin/reintoolbar/border.png");
	background-position: 0% 100%;
	background-repeat: repeat-x;
}
#navigator-toolbox {
	-moz-appearance: none;
	background-color: transparent;
}
#main-window toolbox:not([id="navigator-toolbox"]) {
	background-image: none !important;
}

/* ::::: toolbar & menubar ::::: */

toolbar,
menubar {
	min-width: 1px;
	border: none !important;
}
toolbar[type="menubar"],
menubar {
	padding: 0px !important;
}
toolbar,
#addon-bar {
	min-height: 20px;
	padding: 1px 0px;
}
#nav-bar {
	background-image: url("chrome://global/skin/reintoolbar/stripe.png");
	background-position: 0% 0%;
	background-repeat: repeat;
}
toolbar.chromeclass-toolbar {
	min-height: 16px;
}
toolbar[mode="icons"] .toolbarbutton-text {
	display: none;
}
toolbar[mode="text"] .toolbarbutton-icon {
	display: none;
}
toolbar[mode="text"] .toolbarbutton-text {
	-moz-box-align: center;
	-moz-box-pack: center;
	padding: 0 !important;
	margin: 3px 5px !important;
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
	-moz-appearance: separator;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	-moz-border-left-colors  : transparent transparent var(--border-color);
	-moz-border-right-colors : transparent transparent ThreeDHighlight;
}
toolbarspacer {
	width: 15px;
}

/* ::::: toolbarpaletteitem ::::: */

toolbarpaletteitem {
	cursor: grab;
}

/* place toolbar */

toolbarpaletteitem[place="toolbar"] {
	-moz-margin-start: -2px;
	-moz-margin-end: -2px;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}
toolbarpaletteitem[place="toolbar"] > toolbarspacer {
	width: 11px;
}
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
	background: url("chrome://global/skin/toolbar/flex.png") no-repeat center;
}
.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
	margin-top: 2px;
	margin-bottom: 2px;
	-moz-margin-start: 0px;
	-moz-margin-end: 2px;
	border: 1px solid var(--border-color);
	border-radius: 3px;
}

/* place palette */

.toolbarpaletteitem-box[type="separator"][place="palette"] {
	padding: 10px;
}
.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
	border: 5px solid;
	-moz-border-top-colors: transparent transparent transparent transparent var(--border-color);
	-moz-border-right-colors: transparent transparent transparent transparent var(--border-color);
	-moz-border-bottom-colors: transparent transparent transparent transparent var(--border-color);
	-moz-border-left-colors: transparent transparent transparent transparent var(--border-color);
	border-radius: 7px;
}
#personal-bookmarks .bookmarks-toolbar-customize {
	list-style-image: url("chrome://global/skin/toolbar/bookmarks-folder.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.toolbarpaletteitem-box[type="spring"][place="palette"] {
	background: url("chrome://global/skin/toolbar/flex.png") no-repeat center;
}
#wrapper-personal-bookmarks .toolbarpaletteitem-box[place="palette"] {
	background: url("chrome://global/skin/toolbar/bookmarks-folder.png") no-repeat center !important;
	width: 16px;
	height: 16px;
}
#wrapper-throbber-box .toolbarpaletteitem-box[place="palette"] {
	width: 16px;
	height: 16px;
}

/* ..... drag and drop feedback ..... */

toolbarpaletteitem[dragover="left"] {
	border-left-color: -moz-DialogText;
}
toolbarpaletteitem[dragover="right"] {
	border-right-color: -moz-DialogText;
}
