/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbarbutton.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbarbutton ::::: */

toolbarbutton {
	-moz-box-align: center;
	-moz-box-pack: center;
	color: -moz-DialogText;
	background-color: transparent;
	margin: 1px;
	padding: 2px;
	border: 1px solid transparent;
}
.toolbarbutton-icon {
	margin-inline-end: 2px;
}
.toolbarbutton-text {
	text-align: center;
	margin: 0px !important;
}
toolbarbutton.tabbable {
	-moz-user-focus: normal !important;
}
toolbarbutton:hover,
toolbarbutton[buttonover="true"] {
	border-color: ThreeDHighlight var(--border-color) var(--border-color) ThreeDHighlight;
}
toolbarbutton:hover:active,
toolbarbutton[open="true"] {
	padding-top: 3px;
	padding-bottom: 1px;
	padding-inline-start: 3px;
	padding-inline-end: 1px;
	border-color: var(--border-color) ThreeDHighlight ThreeDHighlight var(--border-color);
}
toolbarbutton[disabled="true"],
toolbarbutton[disabled="true"]:hover,
toolbarbutton[disabled="true"]:hover:active,
toolbarbutton[disabled="true"][open="true"] {
	color: GrayText !important;
	border-color: transparent;
	padding: 2px !important;
}
#nav-bar toolbarbutton,
#TabsToolbar toolbarbutton {
	margin: 2px 1px;
}
#nav-bar toolbarbutton:hover,
#nav-bar toolbarbutton[buttonover="true"],
#FindToolbar toolbarbutton:hover,
#FindToolbar toolbarbutton[buttonover="true"],
sidebarheader toolbarbutton:hover,
sidebarheader toolbarbutton[buttonover="true"] {
	background-color: rgba(255,255,255,0.6);
	background-clip: padding-box;
	border-color: transparent !important;
	border-radius: 4px;
}
#nav-bar toolbarbutton:hover:active,
#nav-bar toolbarbutton[open="true"],
#nav-bar toolbarbutton[_moz-menuactive="true"],
#FindToolbar toolbarbutton:hover:active,
#FindToolbar toolbarbutton[open="true"],
#FindToolbar toolbarbutton[_moz-menuactive="true"],
sidebarheader toolbarbutton:hover:active,
sidebarheader toolbarbutton[open="true"],
sidebarheader toolbarbutton[_moz-menuactive="true"] {
	background-color: rgba(255,255,255,0.6);
	background-clip: padding-box;
	border-color: transparent !important;
	border-radius: 4px;
}
#TabsToolbar toolbarbutton:hover,
#TabsToolbar toolbarbutton[buttonover="true"] {
	background-color: rgba(255,255,255,0.3);
	background-clip: padding-box;
	border-color: transparent !important;
	border-radius: 4px;
}
#TabsToolbar toolbarbutton:hover:active,
#TabsToolbar toolbarbutton[open="true"],
#TabsToolbar toolbarbutton[_moz-menuactive="true"] {
	background-color: rgba(255,255,255,0.3);
	background-clip: padding-box;
	border-color: transparent !important;
	border-radius: 4px;
}

/* bug fix for add-ons */

toolbarbutton > toolbarbutton,
toolbarbutton[disabled="true"] > toolbarbutton,
toolbarbutton[disabled="true"]:hover > toolbarbutton,
toolbarbutton[disabled="true"]:hover:active > toolbarbutton,
toolbarbutton[disabled="true"][open="true"] > toolbarbutton,
toolbarbutton[disabled="true"][buttonover="true"] > toolbarbutton {
	background: none !important;
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
}

/* checked state */

toolbarbutton[checked="true"] {
	color: ButtonText;
	background-color: rgba(255,255,255,0.6);
	padding-top: 3px !important;
	padding-bottom: 1px !important;
	padding-inline-start: 3px !important;
	padding-inline-end: 1px !important;
	border-color: var(--border-color) ThreeDHighlight ThreeDHighlight var(--border-color);
}
#nav-bar toolbarbutton[checked="true"] {
	background-color: rgba(255,255,255,0.7) !important;
	background-clip: padding-box;
	border-color: transparent !important;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5) inset, 0px 0px 8px rgba(0,0,0,0.3) inset;
}
#TabsToolbar toolbarbutton[checked="true"] {
	background-color: rgba(255,255,255,0.4) !important;
	background-clip: padding-box;
	border-color: transparent !important;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5) inset, 0px 0px 8px rgba(0,0,0,0.3) inset;
}

@media (-moz-windows-default-theme) {
  toolbarbutton:-moz-lwtheme {
    text-shadow: none;
  }

  toolbarbutton:-moz-lwtheme:not(:hover):not([checked="true"]):not([open="true"]):not([disabled="true"]) {
    color: inherit;
    text-shadow: inherit;
  }
}

@media not all and (-moz-windows-default-theme) {
  toolbarbutton:-moz-lwtheme {
    -moz-appearance: none;
  }

  toolbarbutton:-moz-lwtheme:not([disabled="true"]) {
    color: inherit;
    text-shadow: inherit;
  }
}

/* ::::: toolbarbutton menu ::::: */

toolbarbutton[type="menu-button"] {
	-moz-box-pack: center;
	-moz-box-align: stretch;
	-moz-box-orient: horizontal !important;
}
toolbarbutton[type="menu-button"] > toolbarbutton {
	-moz-box-orient: vertical !important;
}
.toolbarbutton-menubutton-button {
	-moz-box-align: center;
	-moz-box-pack: center;
}

/* ::::: toolbarbutton badged ::::: */

.toolbarbutton-badge-stack > .toolbarbutton-icon[label]:not([label=""]) {
  margin-inline-end: 0;
}

.toolbarbutton-badge {
  background-color: #d90000;
  font-size: 10px;
  font-weight: bold;
  padding: 0 2px 1px;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0, 100%, 100%, .2) inset,
              0 -1px 0 hsla(0, 0%, 0%, .1) inset,
              0 1px 0 hsla(206, 50%, 10%, .2);
  margin: -6px 0 0 !important;
  margin-inline-end: -8px !important;
  min-width: 14px;
  max-width: 28px;
  line-height: 10px;
  text-align: center;
  -moz-stack-sizing: ignore;
}

/* dropmarker */

toolbarbutton dropmarker {
	background-color: transparent !important;
	background-image: none !important;
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto;
	min-width: 5px !important;
	min-height: 3px !important;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-inline-start: 2px;
	margin-inline-end: 1px;
	padding: 0px;
	border: none !important;
	border-radius: 0px;
}
toolbarbutton dropmarker[disabled="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	margin-inline-start: 2px !important;
	margin-inline-end: 1px !important;
}
