/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Use OS native menubar theming */

#main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme) {
    color: CaptionText;
}
#main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive {
    color: InactiveCaptionText;
}
  
/* Make the tabs toolbar transparent in Aero+glass IIF tabs are on top and menu toolbar is autohidden */
#main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"],
#main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
    background-color: transparent;
}

/* ::::: app menu button ::::: */

#appmenu-toolbar-button {
	-moz-appearance: none;
	background: transparent;
	background-clip: padding-box;
	height: 18px;
	max-height: 18px;
	min-width: 16px;
	min-height: 18px;
	padding: 0px 8px 0px 8px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: rgba(60,60,60,0.6);
	-moz-border-bottom-colors: rgba(60,60,60,0.6);
	-moz-border-right-colors: rgba(60,60,60,0.6);
	-moz-border-left-colors: rgba(60,60,60,0.6);
	box-shadow: 0px 0px 1px rgba(255,255,255,0.9) inset, 0px 0px 2px rgba(255,255,255,0.5) inset;
}

#appmenu-toolbar-button:hover:not(:active):not([open]) {
	background: linear-gradient(rgb(148,200,210), rgb(138,200,210) 95%);
	box-shadow: 0px 0px 1px rgba(255,255,255,0.9) inset, 0px 0px 2px rgba(255,255,255,0.3) inset;
}

#appmenu-toolbar-button:hover:active,
#appmenu-toolbar-button[open] {
	background: linear-gradient(rgb(128,200,210), rgb(118,200,210) 95%);
	box-shadow: 0px 0px 1px rgba(255,255,255,0.5) inset, 0px 2px 3px rgba(0,0,0,0.3) inset, 0px 1px 1px rgba(0,0,0,0.1) inset;
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button  {
	background: linear-gradient(rgb(220,190,190), rgb(190,160,160) 95%);
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:not(:active):not([open]) {
	background: linear-gradient(rgb(220,170,170), rgb(190,140,140) 95%);
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button[open] {
	background: linear-gradient(rgb(220,160,160), rgb(190,130,130) 95%);
}

#appmenu-toolbar-button > .toolbarbutton-icon {
	list-style-image: url("chrome://global/skin/add-ons/compact-menu-small.png");
	border-style: none;
	margin: 0px;
	padding: 0px;
}

#appmenu-toolbar-button > .toolbarbutton-text {
	display: none;
}

#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
	display: none;
}