/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: scrollbar ::::: */

scrollbar {
  background-color: ThreeDShadow;
}

/* ::::: thumb (horizontal) ::::: */

thumb {
  border: 1px solid ThreeDShadow;
}

@media print {
  /* ::::: borders for thumb and buttons ::::: */

  html|div thumb,
  html|div scrollbarbutton {
    -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  }
  
  /* ::::: scrollbar button ::::: */
  
  html|div scrollbarbutton:hover:active, html|div scrollbarbutton[active="true"] {
    -moz-border-top-colors: ThreeDShadow -moz-Dialog;
    -moz-border-right-colors: ThreeDShadow -moz-Dialog;
    -moz-border-bottom-colors: ThreeDShadow -moz-Dialog;
    -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  }
}