#close {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: -moz-Dialog;
	background-image: url("KUI-close.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
